/*-------------------------------- VARIABLES */

/*-------------------------------- GLOBAL DEFULTS */

body { 
    background-color: #fff6ee;
    font-family: 'Roboto', sans-serif;

    color: #bc673e;

    font-size: 20px;

    line-height: 1.4;


    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/*-------------------------------- HEADINGS AND TYPE */

h1 {
    font-size: 60px;
    color: #d19272;

}

h2{
    font-size: 47px;
    color: #552010;
    font-family: 'La Belle Aurore', cursive;

}

h3{ font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}


p {
    color: #bc673e;
    font-weight: 300;
    font-size: 18px;

}

/*-------------------------------- LAYOUTS */

.content {
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5%;
    padding-right: 5%;

}
/*-------------------------------- HEADER */
header {
    background-color: #bc673e;

    margin-bottom: 50px;
    

    padding-top: 40px;
    padding-bottom: 65px;


}

 header h2, p {display: inline-block;}

header h2 {
    margin-top: 0px;

    font-size: 60px;

    position: relative;
    right: 50px;
    padding: 0;
    margin: 0;
    float: left;
    
}
/* FOR SAM: not sure how to get the text to align. Setting up basic layout, not sure how to work text so the design is how i want it.


How do I stop it from making all the H2 and p text align and justt align in the header? --- FIXED THIS*/

header p {
    color: #fff6ee;
    font-weight: 300;
    font-size: 26px;

    padding: 0;
    margin: 0;
    text-align: right;

}
/*-------------------------------- NAVIGATION */

/*-------------------------------- FOOTER */
footer {
    background-color: #bc673e;

    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 80px;

}

footer p, h5 {
    display: inline-block;
}

footer p {
    font-weight: 400;

    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff6ee;

    padding: 0;
    margin: 0;
    text-align: left;

}

footer h5 {
    position: relative;
    left: 50px;
    padding: 0;
    margin: 0;
    color: #fff6ee;
    float: right;

}
/* FOR SAM: trying to get the layout right, hoping to switch the word 'instagram' for an icon and change the blue on the email link*/
/*-------------------------------- MODULES */
