/*-------------------------------- VARIABLES */

:root {
    --main-bg-color: #fff6ee;

    --vertical-spacer: 20px;

    --padder: 3%;

    --alternate-bg-color: #bc673e;

    --link-colour: #552010;
    --hover-colour: #000;

    scroll-behavior: smooth;


}

/*-------------------------------- GLOBAL DEFULTS */

main {

    margin-top: 30px;
    
}

body { 
    background-color: var(--main-bg-color);
    
    font-family: 'Roboto', sans-serif;
    color: #bc673e;
    font-size: 20px;
    line-height: 1.4;


    box-sizing: border-box;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

img {
    height: auto;
}


/*-------------------------------- HEADINGS AND TYPE */

h1 {
    font-size: 60px;
    color: #d19272;

}

h2{
    font-size: 47px;
    color: #552010;
    font-family: 'La Belle Aurore', cursive;

}

h3{ font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}


p {
    color: #bc673e;
    font-weight: 300;
    font-size: 18px;

}

a {
    color: var(--link-colour);
    text-decoration: none;
}

a:hover {
    color: var(--hover-colour);
    text-decoration: underline;
}

.emphasised-text {

    text-decoration: underline;
}

.section-header {
    background-color: var(--alternate-bg-color);
    padding: 20px 0;
    text-align: center;
}


/*-------------------------------- LAYOUTS */

.content {
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: var(--padder);
    padding-right: var(--padder);

}
/*-------------------------------- HEADER */
header {
    background-color: var(--alternate-bg-color);

    padding-top: 40px;
    padding-bottom: 20px;

    text-align: center;
    color: #552010;
}

header a {
    text-decoration: none;
}

/* .header-heading a:hover {
    color: var(--link-colour);
    text-decoration: none;} */

a:hover {
    color: var(--link-colour);
    text-decoration: underline;
}

.header-heading {
    font-family: 'La Belle Aurore', cursive;
    font-size: 60px;
}

@media screen and (max-width: 800px) {

    .header-heading {
        font-size: 46px;
    }
}
/*-------------------------------- NAVIGATION */

.navigation {
    position: sticky;
    top: 0;

    background-color: var(--alternate-bg-color);
    padding-top: 15px;
    padding-bottom: 5px;

}

.navigation .content {
    margin-top: 0;
    padding: 0;
    list-style: none;
  

    display: flex;
    justify-content: space-between;
}

.navigation a {
    font-family: 'Roboto', sans-serif;
    color: var(--main-bg-color);
}
/*-------------------------------- FOOTER */
footer {
    background-color: #bc673e;

    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 30px;

}

.instagram-icon {
    text-align: right;
}   


footer p {

    font-weight: 400;
    color: #fff6ee;
}

/* FOR SAM: trying to get the layout right, hoping to switch the word 'instagram' for an icon and change the blue on the email link*/
/*-------------------------------- BUTTONS */

.back-top a {
    background-color: var(--vertical-spacer);
    color: var(--main-bg-color);
    padding: var(--padder)
}
/*-------------------------------- MODULES */
.news-component {
    border-width: 1px;
    border-style: none;
    border-color: black;

    padding: 3%;
    margin-bottom: 20px;
    overflow: hidden;
}


.news-component img {
    float: left;
    margin-right: 20px;
    
}



.news-component-offset {
    background-color: #999;
}

.news-component-offset img {
    float:right;
    margin-left: 20px;
    margin-right: 0;
}

.news-component-image-only {
    display: flex;
    justify-content: center;
}

.news-component-image-only img {
    margin-right: 0;
    float: none;
}

.news-component-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    border-style: solid;
    border-color: var(--link-colour);
}

@media screen and (min-width: 800px) {


    .news-component-columns {
        grid-template-columns: 1fr 1fr;     
        
    }

    .news-component {
        grid-template-columns: 1fr 1fr;     
        
    }

}