/*-------------------------------- VARIABLES */

/*-------------------------------- GLOBAL DEFULTS */

body { 
    background-color: #fff6ee;
    font-family: 'Roboto', sans-serif;

    color: #bc673e;

    font-size: 20px;

    line-height: 1.4;


    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/*-------------------------------- HEADINGS AND TYPE */

h1 {
    font-size: 60px;
    color: #d19272;

}

h2{
    font-size: 47px;
    color: #552010;
    font-family: 'La Belle Aurore', cursive;

}

h3{ font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}


p {
    color: #bc673e;
    font-weight: 300;
    font-size: 18px;

}

/*-------------------------------- LAYOUTS */

.content {
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5%;
    padding-right: 5%;

}
/*-------------------------------- HEADER */
header {
    background-color: #bc673e;

    margin-bottom: 50px;

    padding-top: 50px;
    padding-bottom: 20px;

 /* FOR SAM: the header will be half as thick once I can combine the name and menu on the same line. But ive set the padding and margins to how I want them.*/   

}

header h2 {
    margin-top: 0px;

    font-size: 60px;
    
}

header p {
    color: #fff6ee;
    font-weight: 300;
    font-size: 26px;

}
/*-------------------------------- NAVIGATION */

/*-------------------------------- FOOTER */
footer {
    background-color: #bc673e;

    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 80px;


}

footer p {
    font-weight: 400;

    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff6ee
}
/*-------------------------------- MODULES */
