/*-------------------------------- VARIABLES */

/*-------------------------------- GLOBAL DEFULTS */

body { 
    background-color: #fff6ee;
    font-family: 'Roboto', sans-serif;

    color: #bc673e;

    font-size: 20px;

    line-height: 1.4;
}

img {
    max-width: 100%;
}
/*-------------------------------- HEADINGS AND TYPE */

h1 {
    font-size: 75px;
    color: #d19272;

}

h2{
    font-size: 63px;
    color: #552010;
    font-family: 'La Belle Aurore', cursive;

}

h3{ font-size: 30px;
}



p {
    color: #bc673e;
    font-weight: 300;

}

/*-------------------------------- LAYOUTS */

.content {
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5%;
    padding-right: 5%;

}
/*-------------------------------- HEADER */
header {
    background-color: #bc673e;


}
/*-------------------------------- NAVIGATION */

/*-------------------------------- FOOTER */
footer {
    background-color: #bc673e;

}
/*-------------------------------- MODULES */
